---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
"variables",
"mixins";

@each $category in $categories {
	$class-name: nth($category, 1);
	$hex-value: nth($category, 2);

	li.#{$class-name} {

		&:hover {
			-webkit-transition-property: border-color;
			transition-property: border-color;
			-webkit-transition-duration: .1s;
			transition-duration: .1s;
			-webkit-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
			-webkit-transition-delay: 0s;
			transition-delay: 0s;
			border-color: #{$hex-value} !important;
		}
	}

	h1.#{$class-name},
	a.#{$class-name} {
		color: $background-color;
		background-color: #{$hex-value};
		font-weight: bold;
		text-transform: uppercase;

		&:hover {
			color: $background-color;
			background-color: #{$hex-value};
		}
	}

	h1.#{$class-name} {
		display: inline-block;
		padding: 6px 8px;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"displayAds",
"form",
"alert",
"widget",
"header",
"footer",
"content",
"postHeader",
"spotlight",
"cards",
"syntax-highlighting"
;
