---
layout: default
---
<div class="spotlight">
    <div class="container">
        <h1 class="text-center animated bounceInDown">{{ site.description }}</h1>
    </div>
</div>

<div class="container">
    <div class="widget">
        <h3><i class="fa fa-folder-open"></i> featured projects</h3>

        <div class="row">
            {% assign sorted_projects = site.projects | sort:'created' | reverse: %}
            {% for project in sorted_projects | limit: 4 %}
                {% assign is_last = forloop.index | modulo: 4 %}
                <!--{% unless forloop.index != 3 %}-->
                    <!--{% include bannerAd.html %}-->
                <!--{% endunless %}-->

                <div  class="columns six">
                    {% include projectExcerpt.html project=project index=forloop.index last=is_last %}
                </div>

                {% if forloop.index == 2 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>

        <a href="/projects">See all &raquo;</a>
    </div>

    <!--<div class="widget">-->
        <!--<h3><i class="fa fa-sticky-note"></i> recent posts</h3>-->

        <!--<div class="row">-->
            <!--{% for post in site.posts | limit: 6 %}-->
                <!--{% assign is_last = forloop.index | modulo: 3 %}-->

                <!--<div class="columns four">-->
                    <!--{% include postExcerpt.html post=post index=forloop.index last=is_last truncate=true %}-->
                <!--</div>-->

                <!--{% if forloop.index == 3 %}-->
                    <!--</div>-->
                    <!--<div class="row">-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
        <!--</div>-->

        <!--<a href="/blog">See all &raquo;</a>-->
    <!--</div>-->
</div>