<div class="ad billboard">
    <div class="ad-container">
        <span class="advertisement">advertisement</span>

        <div class="ad-wrapper">
            <script type="text/javascript">
                amzn_assoc_ad_type = "banner";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_placement = "assoc_banner_placement_default";
                amzn_assoc_campaigns = "amazonhomepage";
                amzn_assoc_banner_type = "rotating";
                amzn_assoc_p = "12";
                amzn_assoc_width = "300";
                amzn_assoc_height = "250";
                amzn_assoc_tracking_id = "cm0b2-20";
                amzn_assoc_linkid = "76a940d988e28d9c7544a1423218a385";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
        </div>
    </div>
</div>