<footer class="site-footer">

    <div class="wrapper">

        <!--    <h2 class="footer-heading">{{ site.title }}</h2>-->

        <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="/contact"><i class="fa fa-envelope fa-lg"></i> {{ site.email }}</a>
            </li>
        </ul>

        <ul class="social-media-list">
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-lg"></i> github
            </a>
            </li>
            {% endif %} {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-lg"></i> twitter
            </a>
            </li>
            {% endif %} {% if site.linkedin_username %}
            <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-lg"></i> linkedin
            </a>
            </li>
            {% endif %} {% if site.instagram_username %}
            <li>
                <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram fa-lg"></i> instagram
            </a>
            </li>
            {% endif %} {% if site.soundcloud_username %}
            <li>
                <a href="https://soundcloud.com/{{ site.soundcloud_username }}" target="_blank"><i class="fa fa-soundcloud fa-lg"></i> soundcloud
            </a>
            </li>
            {% endif %}
        </ul>


        <p class="text">{{ site.description }}</p>


    </div>

</footer>


<script type="text/javascript" src="{{ " /assets/vendor/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/vendor/js/jquery.animatecss.min.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/tracker.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/form.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/page.js " | prepend: site.baseurl }}"></script>