<footer class="site-footer">

    <div class="wrapper">

        <!--    <h2 class="footer-heading">{{ site.title }}</h2>-->

        <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
        </ul>

        <ul class="social-media-list">
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}" target="_blank">github
            </a>
            </li>
            {% endif %} {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">twitter
            </a>
            </li>
            {% endif %} {% if site.linkedin_username %}
            <li>
                <a href="https://linkedin.com/{{ site.linkedin_username }}" target="_blank">linkedin
            </a>
            </li>
            {% endif %} {% if site.instagram_username %}
            <li>
                <a href="https://linkedin.com/in/{{ site.instagram_username }}" target="_blank">instagram
            </a>
            </li>
            {% endif %} {% if site.facebook_username %}
            <li>
                <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">facebook
            </a>
            </li>
            {% endif %} {% if site.soundcloud_username %}
            <li>
                <a href="https://soundcloud.com/{{ site.soundcloud_username }}" target="_blank">soundcloud
            </a>
            </li>
            {% endif %}
        </ul>


        <p class="text">{{ site.description }}</p>


    </div>

</footer>