<li class="animate {{ include.post.category }} {%if include.index > 1 and include.last  == 0 %}last{% endif %}" data-text="{{ include.post.excerpt | escape | strip_newlines }}" data-url="{{ include.post.url | prepend: site.baseurl }}">
    <figure>
        {% if include.post.image %}
        <a href="{{ include.post.url | prepend: site.baseurl }}"><img src="/assets/images/{{ include.post.image }}" class="{{ include.imageClass }}"/></a> {% endif %}

        <figcaption>
            <span><a href="/category/{{ include.post.category }}" class="{{ include.post.category }}">{{ include.post.category }}</a></span>
            <h2>
                        <a href="{{ include.post.url | prepend: site.baseurl }}" title="{{ include.post.title | escape }}">{{ include.post.title | truncate: 35 }}</a>
                    </h2>
            <span class="tcd ts"><i class="fa fa-calendar"></i> {{ include.post.date | date: "%b %-d, %Y" }}</span>
            {% if include.truncate %}
                <p>{{ include.post.excerpt | strip_html | strip_newlines | truncate: 65 }}</p>
            {% else %}
                <p>{{ include.post.excerpt | strip_newlines }}</p>
            {% endif %}
            
        </figcaption>
    </figure>
</li>