.page-content {
    margin-bottom: $spacing-unit;
	
	// TODO: create mixin
	background: -webkit-linear-gradient($background-color, $white);
	background: -o-linear-gradient($background-color, $white);
	background: -moz-linear-gradient($background-color, $white);
	background: linear-gradient($background-color, $white);
    .layout {
	    > a {
		    position: relative;
		    z-index: 1;
	    }

        .list-container {
            ul.content-list {
                margin: 0;
                li {
	                list-style: none;
                    padding-bottom: $spacing-unit * 1.5;
                    margin-bottom: $spacing-unit * 2;
                    transition-property: all;
                    transition-duration: .25s;
                    transition-timing-function: ease-in;
                    transition-delay: 0s;
                    
                    @include border(solid 1px $divider-color, bottom);
                    
                    img {
                        margin-bottom: $spacing-unit/2;
                    }
                    
                    h2 {
                        font-size: $base-font-size*1.75;
                    }
                    
                    &:hover {
                        @include border(solid 1px $accent-color, bottom);
                    }
	                
	                &:last-child {
		                border: none;
	                }
                }
            }
        }
    }
}