.page-content {
    margin-top: 65px;
    margin-bottom: $spacing-unit;
    .page {
        padding-top: 10px;
        .blog,
        .projects,
        .category {
            ul {
                margin: 0;
                li {
                    margin-bottom: $spacing-unit * 2;
                    
                    img {
                        margin-bottom: $spacing-unit/2;
                    }
                }
            }
        }
    }
}