/**
 * Site footer
 */
body > footer {
	border-top: 1px solid $divider-color;
	padding: $spacing-unit 0;
	
	p {
		margin: 0;
		@include font-size($small-font-size)
	}
	ul {
		margin: 0;
		
		li {
			display: inline-block;
		}
	}
}