/**
 * Site header
 */
body > header {
    background-color: $primary-color;
    min-height: 43px;
    // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    @include box_shadow(0, 3px, 6px, 0, 0, 0, 0.42);
    @include border(5px solid $primary-color-dark, top);
    .site-title {
        font-size: 26px;
        line-height: 43px;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        color: transparentize($text-color-light, 0.65);
        &:hover {
            background: transparent;
            text-decoration: none;
            color: $accent-color;
        }
    }

    & + div:first-of-type {
        margin-top: 52px;
    }
    nav {
        float: right;
        line-height: 43px;
        .menu-icon {
            display: none;
        }
        .page-link {
            color: #fdfdfd;
            display: inline-block;
            height: 47px;
            line-height: 47px;
            padding: 0 16px;
        }
       
        
        
        @include media-query($on-palm-lg) {
            position: absolute;
            top: 16px;
            right: 30px;
            background-color: $primary-color;
            border: 1px solid $primary-color-dark;
            border-radius: 5px;
            text-align: right;
            .page-link {
                height: auto;
                display: inline;
            }
            .menu-icon {
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 6px;
                text-align: center;
                &:hover {
                    background-color: transparent;
                }
                > svg {
                    width: 18px;
                    height: 15px;
                    path {
                        fill: $icon-color-light;
                    }
                }
            }
            .trigger {
                clear: both;
                display: none;
            }
            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }
            .page-link {
                display: block;
                padding: 5px 10px;
            }
        }
    }


}