// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin font-size($font-size, $line-height: auto, $base-font-size: $base-font-size) {
	@include font-size-only($font-size, $base-font-size);
	
	@if $line-height != auto {
		@include line-height($line-height, $font-size);
	}
}

@mixin font-size-only ($font-size, $base-font-size: $base-font-size) {
	font-size: ceil(percentage($font-size / $base-font-size));
}

@mixin line-height ($line-height, $font-size: $base-font-size) {
	line-height:  ceil(percentage($line-height / $font-size));
}

@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: $from;
}


@mixin border($style, $sides...){
	@if ($style) {
		@if (length($sides) > 0) {
			@each $side in $sides {
				@if ($side == 'top' or $side == 'right' or $side == 'bottom' or $side == 'left') {
					border-#{$side}: $style;
				}
			}
		} @else {
			border: $style;
		}
	}
}

@mixin box_shadow($x, $y, $blur, $r, $g, $b, $a){
	box-shadow: $x $y $blur rgba($r, $g, $b, $a);
}