.widget {
    padding: $large-spacing-unit 0;
    h3 {
	    @include font-size($font-size * 1.5);
        color: $text-color-disabled;
        margin-bottom: 45px;
        text-align: center;
    }
	
	h2 {
		@include font-size($font-size);
	}
	
	em,
	span {
		@include font-size($font-size * 0.65);
	}
	
	.row:first-of-type {
		margin-bottom: $large-spacing-unit;
	}
}