---
layout: default
---
<div class="layout">
    <a href="/beats">&laquo; Back to beats</a>
    {% if page.image %}
    <header style="background-image:url('/assets/images/{{page.image}}'); height: 564px;">
    </header>
    {% endif %}

    <div class="container">
        <section class="row">
            <article class="eight columns">
                {% include beatHeader.html title=page.title %}

                {{ content }}
            </article>
            <aside class="four columns">
                {% include aside.html %}
            </aside>
        </section>
    </div>
</div>