<!DOCTYPE html>
<!--
                                                                                                                                            
                                                                                                                                            
             jjjj lllllll                                      jjjj                                                                         
            j::::jl:::::l                                     j::::j                                                                        
             jjjj l:::::l                                      jjjj                                                                         
                  l:::::l                                                                                                                   
           jjjjjjj l::::l     eeeeeeeeeeee    aaaaaaaaaaaaa  jjjjjjj   ooooooooooo   nnnn  nnnnnnnn        eeeeeeeeeeee        ssssssssss   
           j:::::j l::::l   ee::::::::::::ee  a::::::::::::a j:::::j oo:::::::::::oo n:::nn::::::::nn    ee::::::::::::ee    ss::::::::::s  
            j::::j l::::l  e::::::eeeee:::::eeaaaaaaaaa:::::a j::::jo:::::::::::::::on::::::::::::::nn  e::::::eeeee:::::eess:::::::::::::s 
            j::::j l::::l e::::::e     e:::::e         a::::a j::::jo:::::ooooo:::::onn:::::::::::::::ne::::::e     e:::::es::::::ssss:::::s
            j::::j l::::l e:::::::eeeee::::::e  aaaaaaa:::::a j::::jo::::o     o::::o  n:::::nnnn:::::ne:::::::eeeee::::::e s:::::s  ssssss 
            j::::j l::::l e:::::::::::::::::e aa::::::::::::a j::::jo::::o     o::::o  n::::n    n::::ne:::::::::::::::::e    s::::::s      
            j::::j l::::l e::::::eeeeeeeeeee a::::aaaa::::::a j::::jo::::o     o::::o  n::::n    n::::ne::::::eeeeeeeeeee        s::::::s   
            j::::j l::::l e:::::::e         a::::a    a:::::a j::::jo::::o     o::::o  n::::n    n::::ne:::::::e           ssssss   s:::::s 
            j::::jl::::::le::::::::e        a::::a    a:::::a j::::jo:::::ooooo:::::o  n::::n    n::::ne::::::::e          s:::::ssss::::::s
            j::::jl::::::l e::::::::eeeeeeeea:::::aaaa::::::a j::::jo:::::::::::::::o  n::::n    n::::n e::::::::eeeeeeee  s::::::::::::::s 
            j::::jl::::::l  ee:::::::::::::e a::::::::::aa:::aj::::j oo:::::::::::oo   n::::n    n::::n  ee:::::::::::::e   s:::::::::::ss  
            j::::jllllllll    eeeeeeeeeeeeee  aaaaaaaaaa  aaaaj::::j   ooooooooooo     nnnnnn    nnnnnn    eeeeeeeeeeeeee    sssssssssss    
            j::::j                                            j::::j                                                                        
  jjjj      j::::j                                  jjjj      j::::j                                                                        
 j::::jj   j:::::j                                 j::::jj   j:::::j                                                                        
 j::::::jjj::::::j                                 j::::::jjj::::::j                                                                        
  jj::::::::::::j                                   jj::::::::::::j                                                                         
    jjj::::::jjj                                      jjj::::::jjj                                                                          
       jjjjjj                                            jjjjjj                                                                             
-->
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!--{% include leaderboardAd.html %}-->

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
