---
layout: default
---
<div class="layout page {{page.label}}">
  <header>
    <div class="container">
      <h1 class="page-title"><i class="fa fa-{{page.icon}}"></i> {{ page.label }}</h1>
      <h5>{{ page.subheading}}</h5>
    </div>
  </header>

  <div class="container">
    <div class="widget">
      <section class="row">
        <article class="eight columns">
          {{ content }}
        </article>
        <aside class="four columns">

        </aside>
      </section>
    </div>
  </div>
</div>
