---
layout: default
---
<div class="layout">
    <a href="/projects">&laquo; Back to projects</a>
    {% if page.image %}
    <header>
        <div class="container">
            <img src="/assets/images/{{page.image}}" />
        </div>
    </header>
    {% endif %}

    <div class="container">
        <section class="row">
            <article class="eight columns">
                <div class="widget">
                    {% include projectHeader.html title=page.title tech=page.tech %}

                    {{ content }}
                </div>
            </article>
            <aside class="four columns">
                    {% include aside.html %}
            </aside>
        </section>
    </div>
</div>