---
layout: default
---
<div class="layout project">
    <a href="/projects">&laquo; Back to projects</a>
    {% if page.image %}
    <header>
        <div class="container">
            <img src="/assets/images/{{page.image}}" />
        </div>
    </header>
    {% endif %}

    <div class="container">
        <section class="row">
            <article class="eight columns">
                {% include postHeader.html title=page.title meta=page.tech %}

                {{ content }}
            </article>
            <aside class="four columns">

            </aside>
        </section>
    </div>
</div>