---
layout: default
---
<div class="layout">
    <a href="/lab">&laquo; Back to projects</a> 
    {% if page.image %}
    <div class="post-header-img">
        <img src="/assets/images/{{page.image}}" />
    </div>
    {% endif %}

    <div class="container">
        <section class="row">
            <article class="eight columns">
                {% include postHeader.html title=page.title meta=page.tech %}

                {{ content }}
            </article>
            <aside class="four columns">

            </aside>
        </section>
    </div>
</div>